a
{
	color:red;
}
a:hover
{
	color:#800000;
}
body
{
	font-family:Roboto,comic-sans;
	font-style:oblique;
	color:white;
	background-image: url("background2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-color:beige;
	text-align:center;
}
p
{
	font-family:arial;
	color: white;
	font-style:italic;
	text-align:center;
	font-size:23px;
	line-height:12px;
}
h1
{
	color:white;
	font-family:arial;
	font-style:normal;
	text-shadow: 2px 2px #800000;
	margin-top:2rem;
	text-align: center;
	font-size:40px;
}

h2
{
	font-family:comic-sans;
	font-weight:bolder;
	font-style: normal;
	color:#00FFFF;
	text-decoration:underline;
	text-align: center;
	font-size: 30px;
}
li
{
	color:red;
}
footer
{
	color:white
	font-style:normal;
	font-size: 15px;
	margin-top:9rem;
}